- provide :react_view, true
/- provide :title, 'Angebotsübersetzungen'
/== concept('backend/index_header_cell', @klass,
/           header_links: [:export])
/== concept('backend/index_table/framework_cell', @klass, settings: @settings).()
