.graph-container data=graph_data

- users.each do |user|
  input type="radio" class="js-graph-userselect" data-id=user.id
    = user.name

scss:
  .graph-container {
    font: 10px sans-serif;

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    .bar {
      fill: steelblue;
    }
  }

coffee:
  $(document).ready ->
    lineGraph = new Claradmin.LineGraph('.graph-container')

    $('.js-graph-userselect').on 'change', (event) ->
      $target = $(event.target)
      id = $target.data('id')
      lineGraph.toggleLine(id)
