.form-inline .input-group > input.form-control.short {
  width: 67px;
}
.form-inline .input-group.spaced, .form-inline .btn.spaced {
  margin-right: 5px;
  margin-bottom: 5px;
}

.form-group.changed input,
.form-group.changed textarea,
.form-group.changed select,
// .form-group.changed span,
.form-group.changed label {
  background-color: #FCF485;
}

.form-group.changed label {
  padding-left: 5px;
}

.GenericFormAddon-Counter--under {
  color: green;
}
.GenericFormAddon-Counter--equal {
  color: darkorange;
}
.GenericFormAddon-Counter--over {
  color: red;
}
.missing-approval {
  color: red;
  font-size: 16px;
  margin: 10px 0;
}
