- provide :react_view, true
/- provide :title, @klass.name
/== concept('backend/index_header_cell', @klass)
/== concept('backend/index_table/framework_cell', @klass,
/           settings: @settings, current_user: current_user).()
